.wrapAuth{
    display: block;
    width: 100%;
    max-width: 40.0rem;
    margin: 4rem auto 6rem ;   
    border: 1px solid black;
    
    

    .wrap{
        padding: 10px;

        .formWrap{
            margin: 1rem auto 0;
    
        }
    }

    //css fro Typography
    .font{
        margin: 0 auto .5rem;
        padding: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.0rem;

    }

    span{
        cursor: pointer;
    }

    h6 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }

    h2 {
        margin: 0 auto .5rem;
        padding: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        text-align: center;
    }
    
}