.center {
  width: 100%;
  border-collapse: collapse;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  font-size: medium;

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
}
