.btn {
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  border: 0;
  outline: none;
  display: block;
  background: #e31837;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;

  &:hover {
    background: #ffc500;
    transition: 0.1s ease-out;
    color: #000;
    cursor: pointer;
  }
}
