.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #e31837;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  margin-left: 150px;

  &:hover {
    background: #ffc500;
    transition: 0.5s ease-out;
    color: #000;
    cursor: pointer;
  }
}
