.container {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;
  //   border: 1px solid black;
  background: whitesmoke;
  box-shadow: 0px 20px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;

  .wrap {
    padding: 10px;

    .formWrap {
      margin: 1rem auto 0;
    }
  }
}
