

.directory {
  height: 100%;

  .wrap {
    display: inline-block;
    width: 100%;
    height: 100%;

    .item {
      position: relative;
      width: 100%;
      height: 100%;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
      
      .content {
        height: calc (100vh -80px);
        max-height: 100%;
        width: 100vw;
        padding: 0 rem calc((100vw - 1300px) /2);
        
      }

      .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        padding: 0 2rem;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        font-weight: bold;
        width: 650px;
        max-height: 100%;
       

        @media screen and (max-width: 650px) {
            width: 100%;
            height: 50%;
          }

      }

      h1 {
        font-size: clamp(4.5rem, 10vw, 6rem);
        margin-bottom: 1rem;
        //box-shadow: 3px 5px #e9ba23;
        color: white;
        letter-spacing: 3px;
        padding: 0 10px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: bold;
        max-height: 100%;
        font-family: 'Montserrat', sans-serif;
        
      }

      p {
        font-size: clamp(2.8rem, 3.5vw, 2rem);
        margin-bottom: 2rem;
        color: white;
        padding: 0 10px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: bold;
        max-height: 100%;
        font-family: 'Montserrat', sans-serif;
      }

      a {
      font-size: 1.5rem;
      margin-left: 10px;
      padding: 1rem 4rem;
      border: none;
      background: #e31837;
      color: #fff;
      transition: 0.1s ease-out;
      font-family: 'Montserrat', sans-serif;

      &:hover {
          background: #ffc500;
          transition: 0.1s ease-out;
          color: #000;
          cursor: pointer;
}
      }

     

      }

    }
  }



/*@media only screen and (max-width: 980px) {

  .directory .wrap .item {
    width: 100%;
    height: 50%;

    a {
      font-size: 1.5rem;
    }
  }

}*/