.header {
    height: 4.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    background-color: white;
    font-family: 'Montserrat', sans-serif;

    .wrap {
        max-width: 1450px;
        margin: 0 auto;
        height: 100%;
        position: relative;

        .logo {
            top: 50%;left: 10px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            position: absolute;
            width: 13.0rem;

            img {
                width: 100%;
                display: block;
                margin: 0;
            }
        }

        .callingAction {
            position: absolute;
            top: 50%; right: 10px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            font-family: 'Montserrat', sans-serif;

            ul, li {
                margin: 0;
                padding: 0;
                
            }

            li {
                list-style-type: none;
                margin-right: 1.5rem;
                display: inline-block;
                font-family: 'Montserrat', sans-serif;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    line-height: 1;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: black;
                    text-decoration: none;
                }

                span {
                    line-height: 1;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

           
        }
    }
}