.carter {
  margin: 2rem auto;

  h1 {
    display: block;
    width: 100%;
  }

  h1,
  p {
    text-align: center;
  }

  .cartHead {
    border-bottom: 4px solid lightgray;
  }

  .carts {
    max-width: 100.0rem;
    margin: 0 auto;

    table {
      width: 100%;
    }
  }

  

  .cartHead,
  .carts {
    text-align: left;
    width: 100%;

    th,
    td {
      width: 22%;
    }
  }

  .cartItems {
    td img {
      width: 100%;
      display: block;
      min-width: 75px;
    }
  }

  .cartButtonings {
    width: 100%;
    display: block;
  }

  .cartButtoning {
    cursor: pointer;
  }



  @media only screen and (max-width: 980px) {
    
    .cartHead {
      display: none;
    }

    .cartItems {
      border: 1px solid black;
    }

    .carter .card td{
      width: 100%;
      display: block;

    }

    .carter .cartButtoning.remove {
      padding: 1.0rem;
      background-color: black;
      color: white;
      width: 100%;
      display: block;
    }
  }
}
