.carter {
  margin: 2rem auto;

  h2 {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  h2,
  p {
    text-align: center;
  }

  .cartHead {
    border-bottom: 4px solid lightgray;
  }

  .carts {
    max-width: 100rem;
    margin: 0 auto;

    .svg {
      height: 300px;
      align-items: center;
    }
  }

  .cartHead,
  .carts {
    text-align: left;
    width: 100%;

    th,
    td {
      width: 22%;
      padding: 0.5rem;
    }
  }

  .cartItems {
    td img {
      width: 100%;
      display: block;
      min-width: 75px;
    }
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    height: 50%;
  }
}
