.carter {
  margin: 2rem auto;

  h2 {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  h2,
  p {
    text-align: center;
  }

  .cartHead {
    border-bottom: 4px solid lightgray;
  }

  .carts {
    margin: 0 auto;
    max-width: 100.0rem;

    .svg {
      height: 300px;
      align-items: center;
    }

    table {
      width: 100%;
    }
  }

  

  .cartHead,
  .carts {
    text-align: left;
    width: 100%;

    th,
    td {
      width: 22%;
      padding: 0.5rem;
    }
  }

  .cartItems {
    td img {
      width: 100%;
      display: block;
      min-width: 75px;
    }
  }

  .cartButtonings {
    width: 100%;
    display: block;
  }

  .cartButtoning {
    cursor: pointer;
  }



  @media only screen and (max-width: 980px) {
    
    .cartHead {
      display: none;
    }

    .cartItems {
      border: 1px solid black;
    }

    .carter .card td{
      width: 100%;
      display: block;

    }

    .carter .cartButtoning.remove {
      padding: 1.0rem;
      background-color: black;
      color: white;
      width: 100%;
      display: block;
    }
  }
}
