.h6 {
    font-size: clamp(4.5rem, 10vw, 6rem);
    margin-bottom: 1rem;
    //box-shadow: 3px 5px #e9ba23;
    color: white;
    letter-spacing: 3px;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
    
  }