.formRow {
  input {
    width: 100%;
    padding: 10px 5px;
    text-align: left;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
}
